*Last edit: 21st August 2024*

### Estimation Error Matrix 

Incorporate robust optimization with estimation error matrix. We start by setting $\Xi = I$. We also want to take $\Xi = \text{diag}(\Sigma)$ and $\Xi = \text{diag}(\frac{1}{\sigma_i^2})$.

We take $N=24$ for monthly data and $N=100$ for daily data

When $\Xi$ is diagonal, we are saying that the errors for the different assets are independent.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import seaborn as sns; sns.set_theme()

from functions import *

import gurobipy as gp
from gurobipy import GRB

import os
import json
import re

In [2]:
save = True
heuristic = True

seed = 339
num_runs = 10000

for data in ['GICS','Fama-French']:
    if data == 'GICS':
        unit_list = ['monthly']
        num_sectors_list = [11]
    else:
        unit_list = ['monthly','daily']
        num_sectors_list = [5,10,12,17]
    for units in unit_list:
        for num_sectors in num_sectors_list:

            save_units = units.capitalize()
            
            if units == 'daily':
                N = [100]
                num_years=10
                num_units=int(num_years*365*(5/7))
            elif units=='monthly':
                N = [24]
                num_years=30
                num_units=int(num_years*12)
            
            true_mu, true_cov = true_mean_cov(data,units,num_sectors,num_units)
            
            np.random.seed(seed=seed)
            
            mu_hat = {}
            
            for run in range(num_runs):
                mu_hat[run] = {}
                for n in N:
                    mu_hat[run][n] = np.mean(simulate(true_mu, true_cov, N), axis=0)
            
            print('True Mean:')
            display(pd.DataFrame(true_mu).T.round(3))
            
            print('True Covariance:')
            display(pd.DataFrame(true_cov).round(3))
            
            if data == 'Fama-French':
                path = os.path.join('Simulated Robust','Fama-French',str(num_sectors)+' Sectors',save_units)
            elif data == 'GICS':
                path = os.path.join('Simulated Robust','GICS')
            
            identity = 0
            sigma = 0
            inv_sigma = 1
            
            assert identity + sigma + inv_sigma == 1, 'Choose exactly one type of estimation error matrix'
            
            if sigma:
                # topx = num_sectors // 2
                # bottomx = (num_sectors // 2) + 1
                topx = num_sectors
                bottomx = 0
                power = 2
            elif inv_sigma:
                topx = num_sectors
                bottomx = 0
                power = 25
                
            if sigma or inv_sigma:
                
                power_label = {0:'Zeroth',1:'',2:'Squared',3:'Cubed',4:'Fourth',5:'Fifth',10:'Tenth',
                               12:'Twelfth',15:'Fifteenth',25:'TwentyFifth'}[power]
                
                diag = np.diag(true_cov)
                topindices = np.argpartition(diag, -topx)[-topx:]
                bottomindices = np.argpartition(diag, bottomx)[:bottomx]
            
            Xi = np.eye(num_sectors)
            
            if identity:
                topx = 'NA'
                path = os.path.join(path,'Xi_identity') 
            elif sigma:
                path = os.path.join(path,'Xi_Sigma'+str(power_label))
                for idx in topindices:
                    Xi[idx][idx] = (diag[idx])**(power/2)
                for idx in bottomindices:
                    Xi[idx][idx] = np.mean((diag)**(power/2))
            elif inv_sigma:
                path = os.path.join(path,'Xi_invSigma'+str(power_label))
                for idx in topindices:
                    Xi[idx][idx] = 1/(diag[idx]**(power/2))
                for idx in bottomindices:
                    Xi[idx][idx] = 1/np.mean((diag)*(power/2))
            
            print('Xi:')
            display(pd.DataFrame(Xi))

            for lb_ub in [(1,3),(2,4),(3,5)]:
            
                if not heuristic:
                    if units == 'monthly':
                        if data == 'GICS':
                            if identity:
                                kappa_list = [0.5,1,5]
                            elif sigma:
                                kappa_list = [0.1,0.5,1]
                            elif inv_sigma:
                                # kappa_list = [x * (2**(power-1)) for x in [y*(power-3) if y*(power-3) >= 1 else y for y in [2.5,5,10]]]
                                if power == 1 or power == 2:
                                    kappa_list = [2.5,5,10]
                                elif power == 4:
                                    kappa_list = [20,40,100,125,150]
                                elif power == 10:
                                    kappa_list = [8960,17920,35840]
                        else:
                            if identity:
                                kappa_list = [0.5,0.75,2.5]
                            elif sigma:
                                kappa_list = [0.05,0.25,0.5]
                            elif inv_sigma:
                                # kappa_list = [x * (2**(power-1)) for x in [y*(power-3) if y*(power-3) >= 1 else y for y in [1,2.5,5]]]
                                if power == 1:
                                    kappa_list = [1,2.5,5]
                                elif power == 2:
                                    kappa_list = [2.5,5,10]
                                elif power == 4:
                                    kappa_list = [10,20,50,75,100]
                                elif power == 10:
                                    kappa_list = [3584,8960,17920]
                    elif units == 'daily':
                        if identity:
                            kappa_list = [0.05, 0.1, 0.25]
                        elif sigma:
                            kappa_list = [0.01,0.05,0.1]
                        elif inv_sigma:
                            # kappa_list = [x * (2**(power-7)) for x in [y*(power-8) if y*(power-8) >= 1 else y for y in [0.05, 0.1, 0.25]]]
                            if power == 1:
                                kappa_list = [0.05,0.1,0.25]
                            elif power == 2:
                                kappa_list = [0.05,0.1,0.25]
                            elif power == 4:
                                kappa_list = [0.05,0.1,0.25,0.33,0.5]
                            elif power == 10:
                                kappa_list = [0.4,0.8,2]
                    ratio = 'NA'
                else:
                    kappa_list = ['heuristic']
                    lb = lb_ub[0]
                    ub = lb_ub[1]
                    ratio = int((ub+lb)/2)
                    print('lb:',lb, 'ub:',ub, 'ratio:',ratio)
                
                print('List of Kappas:',kappa_list)
                
                if save:
                    incumbent_path = []
                    for directory in ['plots'] + os.path.normpath(path).split(os.sep):# + ['Zoomed']:
                        incumbent_path.append(directory)
                        if not os.path.exists(os.path.join(*incumbent_path)):
                            os.mkdir(os.path.join(*incumbent_path))
                    incumbent_path = []
                    for directory in ['save'] + os.path.normpath(path).split(os.sep):
                        incumbent_path.append(directory)
                        if not os.path.exists(os.path.join(*incumbent_path)):
                            os.mkdir(os.path.join(*incumbent_path))
                
                min_var_portfolio, min_var_obj = min_variance(true_cov)
                min_var_expected_return = np.dot(true_mu, min_var_portfolio)
                
                print('Minimum Variance:', np.round(min_var_obj,4))
                
                print('Expected Return of Min Variance Portfolio:',np.round(min_var_expected_return,4))
                
                v_begin = min_var_obj
                v_end = np.diag(true_cov).max()
                v_array = np.linspace(v_begin, v_end, 10)
                v_array = [float(np.format_float_positional(v_array[i], precision=3, unique=False, fractional=False, trim='k')) for i in range(len(v_array))]
    
                if v_array[0] < min_var_obj:
                    v_array[0] = float(str(v_array[0])[:-1] + str(int(str(v_array[0])[-1])+1))
    
                v_array = v_array[:int(len(v_array)/2)]
                print(v_array)
                
                # if units=='monthly':
                #     v_factor = 1
                # elif units=='daily':
                #     v_factor = 0.1
                
                # v_begin = next(x[1] for x in enumerate([i*2.5*v_factor for i in range(11)]) if x[1] > min_var_obj)
                # v_end = v_begin+(20*v_factor)
                # precision = 2.5*v_factor
                # num_v = (v_end - v_begin) / precision
                # v_array = np.linspace(v_begin, v_end, int(num_v) + 1)
                
                estimated_portfolios = {}
                markowitz_portfolios = {}
                robust_portfolios = {}
                
                print('Computing Estimated, Actual and Robust Portfolios')
    
                for kappa in kappa_list:
                    print('\tOn κ={}'.format(kappa))                                
                    estimated_portfolios[kappa] = {}        
                    robust_portfolios[kappa] = {}
                    for run in range(num_runs):
                        estimated_portfolios[kappa][run] = {} 
                        robust_portfolios[kappa][run] = {}
                        if run % 2500 == 0:
                            print('\t\tOn run ', run)
                        for n in N:
                            estimated_portfolios[kappa][run][n] = {}                        
                            robust_portfolios[kappa][run][n] = {}
                                                    
                            for v in v_array:                                                        
                                    
                                if heuristic:
                                    kappa_run = choose_kappa(mu_hat[run][n],true_cov,Xi,v,lb,ub)
                                    
                                    # Dealing with precision issues by scaling Xi
                                    Xi = Xi*(kappa_run**2)
                                    # display(pd.DataFrame(Xi))
                                    kappa_run = 1
                                    
                                estimated_portfolio, estimated_obj = markowitz(mu_hat[run][n], true_cov, v)
                                estimated_portfolios[kappa][run][n][v] = estimated_portfolio
                                            
                                robust_estimated_portfolio, robust_estimated_obj = robust(mu_hat[run][n], true_cov, Xi, v, kappa_run)
                                robust_portfolios[kappa][run][n][v] = robust_estimated_portfolio                                
    
                print('\nComputing True and Equal-Weight Portfolios')
                                    
                for v in v_array:
                    markowitz_portfolio, markowitz_obj = markowitz(true_mu, true_cov, v)
                    markowitz_portfolios[v] = markowitz_portfolio
                
                if save:
                    with open(os.path.join('save',path,'estimated_portfolios (top{}, N={}, κ={}, ratio={}).json'.format(topx,N,kappa_list,ratio)), 'w') as f: 
                        json.dump(estimated_portfolios, f, ensure_ascii=False, indent=4)
                
                    with open(os.path.join('save',path,'markowitz_portfolios (top{}, N={}, κ={}, ratio={}).json'.format(topx,N,kappa_list,ratio)), 'w') as f: 
                        json.dump(markowitz_portfolios, f, ensure_ascii=False, indent=4)
                
                    with open(os.path.join('save',path,'robust_portfolios (top{}, N={}, κ={}, ratio={}).json'.format(topx,N,kappa_list,ratio)), 'w') as f: 
                        json.dump(robust_portfolios, f, ensure_ascii=False, indent=4)
    
                if save:
                    with open(os.path.join('save',path,'estimated_portfolios (top{}, N={}, κ={}, ratio={}).json'.format(topx,N,kappa_list,ratio))) as f: 
                        estimated_portfolios = json.load(f)
                
                    with open(os.path.join('save',path,'markowitz_portfolios (top{}, N={}, κ={}, ratio={}).json'.format(topx,N,kappa_list,ratio))) as f: 
                        markowitz_portfolios = json.load(f)
                
                    with open(os.path.join('save',path,'robust_portfolios (top{}, N={}, κ={}, ratio={}).json'.format(topx,N,kappa_list,ratio))) as f: 
                        robust_portfolios = json.load(f)
                
                markowitz_frontier = {}
                estimated_frontier = {}
                actual_frontier = {}
                
                robust_estimated_frontier = {}
                robust_actual_frontier = {}
                
                for kappa in estimated_portfolios.keys():
                    estimated_frontier[kappa] = {}
                    actual_frontier[kappa] = {}
                    
                    robust_estimated_frontier[kappa] = {}
                    robust_actual_frontier[kappa] = {}
                    
                    for run in estimated_portfolios[kappa].keys():
                        estimated_frontier[kappa][run] = {}
                        actual_frontier[kappa][run] = {}
                        
                        robust_estimated_frontier[kappa][run] = {}
                        robust_actual_frontier[kappa][run] = {}
                        
                        for n in estimated_portfolios[kappa][run].keys():
                            estimated_frontier[kappa][run][n] = {}
                            actual_frontier[kappa][run][n] = {}
                            
                            robust_estimated_frontier[kappa][run][n] = {}
                            robust_actual_frontier[kappa][run][n] = {}
                            
                            for v in estimated_portfolios[kappa][run][n].keys():
                                estimated_frontier[kappa][run][n][v] = np.dot(mu_hat[int(run)][int(n)], np.array(estimated_portfolios[kappa][run][n][v]))
                                actual_frontier[kappa][run][n][v] = np.dot(true_mu, np.array(estimated_portfolios[kappa][run][n][v]))
                                
                                robust_estimated_frontier[kappa][run][n][v] = np.dot(mu_hat[int(run)][int(n)], 
                                                                               np.array(robust_portfolios[kappa][run][n][v]))
                    
                                robust_actual_frontier[kappa][run][n][v] = np.dot(true_mu, np.array(robust_portfolios[kappa][run][n][v]))
                
                for v in markowitz_portfolios.keys():
                    markowitz_frontier[float(v)] = np.dot(true_mu, np.array(markowitz_portfolios[v]))    
                    
                equal_portfolio = np.array([1/num_sectors for i in range(num_sectors)])
                equal_frontier = np.dot(true_mu, equal_portfolio)
                equal_weight_variance = sum(true_cov[i][j] * equal_portfolio[i] * equal_portfolio[j] 
                                            for i in range(num_sectors) for j in range(num_sectors))
                
                mean_actual_frontier = {}
                mean_estimated_frontier = {}
                
                mean_robust_actual_frontier = {}
                mean_robust_estimated_frontier = {}
                for kappa in actual_frontier.keys():
                    mean_actual_frontier[kappa] = {}
                    mean_estimated_frontier[kappa] = {}
                    
                    mean_robust_actual_frontier[kappa] = {}
                    mean_robust_estimated_frontier[kappa] = {}
                    for n in actual_frontier[kappa][run].keys():
                        mean_actual_frontier[kappa][int(n)] = {}
                        mean_estimated_frontier[kappa][int(n)] = {}
                    
                        mean_robust_actual_frontier[kappa][int(n)] = {}
                        mean_robust_estimated_frontier[kappa][int(n)] = {}
                        
                        for v in actual_frontier[kappa][run][n].keys():
                            mean_actual_frontier[kappa][int(n)][float(v)] = np.mean([actual_frontier[kappa][run][n][v] 
                                                                                     for run in actual_frontier[kappa].keys()])
                            mean_estimated_frontier[kappa][int(n)][float(v)] = np.mean([estimated_frontier[kappa][run][n][v] 
                                                                                        for run in estimated_frontier[kappa].keys()])
                            mean_robust_actual_frontier[kappa][int(n)][float(v)] = np.mean([robust_actual_frontier[kappa][run][n][v] 
                                                                                            for run in robust_actual_frontier[kappa].keys()])
                            mean_robust_estimated_frontier[kappa][int(n)][float(v)] = np.mean([robust_estimated_frontier[kappa][run][n][v] 
                                                                                               for run in robust_estimated_frontier[kappa].keys()])
                
                # font = {'size': 20}
                # matplotlib.rc('font', **font)
                # matplotlib.rcParams['mathtext.fontset'] = 'stix'
                # matplotlib.rcParams['font.family'] = 'STIXGeneral'
                
                # for kappa in mean_robust_actual_frontier.keys():
                #     fig, (ax1) = plt.subplots(1,1)
                #     fig.set_size_inches(21, 12)
                    
                #     time_range = list(mean_robust_actual_frontier[kappa].keys())
                #     v_array = list(mean_actual_frontier[kappa][time_range[0]].keys())
                    
                #     x_title = 'Portfolio Returns'
                #     # color_list = ['dodgerblue', 'indianred', 'darkorange', 'mediumseagreen', 'darkviolet', 'midnightblue','fuchsia', 'slategrey']
                #     color_list = ['black'] + list(sns.color_palette("Set1", n_colors = len(time_range)*2)) + ['slategrey']
                    
                #     ax1.plot(v_array, [markowitz_frontier[v] for v in v_array], 
                #              c=color_list[0], marker='o', linestyle='solid', label='True Frontier')
                    
                #     for i in range(0,len(time_range),2):
                #         ax1.plot(v_array, [mean_estimated_frontier[kappa][time_range[i]][v] for v in v_array], c=color_list[1+i],
                #                  marker='x', linestyle='solid', label='Estimated Markowitz Frontier')
                #         ax1.plot(v_array, [mean_actual_frontier[kappa][time_range[i]][v] for v in v_array], c=color_list[1+i],
                #                  marker='x', linestyle='dashed', label='Actual Markowitz Frontier')
                    
                #         ax1.plot(v_array, [mean_robust_estimated_frontier[kappa][time_range[i]][v] for v in v_array], c=color_list[2+i], 
                #                  marker='o', linestyle='solid', label='Estimated Robust Frontier')
                #         ax1.plot(v_array, [mean_robust_actual_frontier[kappa][time_range[i]][v] for v in v_array], c=color_list[2+i], 
                #                  marker='o', linestyle='dashed', label='Actual Robust Frontier')
                    
                #     equal_weight_v_array = [np.round(equal_weight_variance,1)] + [i for i in v_array if i >= equal_weight_variance]    
                #     ax1.plot(equal_weight_v_array, [equal_frontier for v in range(len(equal_weight_v_array))], 
                #              c=color_list[-1], marker='', linestyle='dashed', label='Equal-Weight Frontier')
                    
                #     ax1.set_title(x_title, fontsize=21)
                    
                #     plt.legend(fontsize=18, loc='center left', bbox_to_anchor=(1,0.5))
                #     # plt.annotate('Number of Runs = '+str(num_runs), fontsize=18, xy=(1.09,0.65),xycoords='axes fraction', 
                #     #              bbox=dict(facecolor='none', edgecolor='none', boxstyle='round,pad=0.5'))
                #     # plt.annotate('κ = '+str(kappa), fontsize=18, xy=(1.09,0.7),xycoords='axes fraction', 
                #     #              bbox=dict(facecolor='none', edgecolor='none', boxstyle='round,pad=0.5'))
                
                #     matplotlib.pyplot.xticks(ticks=v_array)
                    
                #     ax1.set_xlabel('Risk (%)', fontsize=19)
                #     ax1.set_ylabel('Expected Portfolio Return (%)', fontsize=19)
                    
                #     ax1.tick_params(axis='both', which='major', labelsize=17)
                #     ax1.tick_params(axis='both', which='minor', labelsize=17)
                
                #     plt.tight_layout()
                    
                #     #  saving the figure. 
                #     if save:        
                #         plt.savefig(os.path.join('plots', path,
                #                                  'averaged_robust_frontier_plot (top{}, N={}, κ={}).pdf'.format(topx,N,kappa)), 
                #                     bbox_inches ='tight')
                        
                #         if data == 'GICS':
                #             ax1.set_ylim([1.2, 2.0])
                #         else:
                #             if units == 'daily':
                #                 ax1.set_ylim([0.04, 0.06])
                #             else:
                #                 ax1.set_ylim([0.9, 1.2])
                #         plt.savefig(os.path.join('plots', path, 'Zoomed',
                #                                  'averaged_robust_frontier_plot (top{}, N={}, κ={}).pdf'.format(topx,N,kappa)), 
                #                     bbox_inches ='tight')
                
                gap_closed = {}
                
                for kappa in mean_robust_actual_frontier.keys():
                    gap_closed[kappa] = {}
                    for n in mean_robust_actual_frontier[kappa].keys():
                        for v in list(mean_robust_actual_frontier[kappa][n].keys())[1:]:
                            robust_expected_return = mean_robust_actual_frontier[kappa][n][v]
                            markowitz_expected_return = mean_actual_frontier[kappa][n][v]        
                            true_expected_return = markowitz_frontier[v]
                            gap_closed[kappa][v] = (robust_expected_return - markowitz_expected_return)/(true_expected_return - markowitz_expected_return)*100
                
                percent_gap_closed_df = pd.DataFrame(gap_closed).T
                display(percent_gap_closed_df)
                
                if save:
                    percent_gap_closed_df.to_csv(os.path.join('plots', path,'averaged_robust_frontier_plot (top{},N={},kappa={},ratio={}).csv'.format(topx,N,kappa_list,ratio)))

Considering GICS data
True Mean:

      0      1      2      3      4      5      6      7     8      9      10
0  1.177  1.511  1.391  1.151  1.289  1.332  1.032  1.726  1.39  1.416  1.014

True Covariance:

,0,1,2,3,4,5,6,7,8,9,10
0,39.467,15.328,9.222,17.256,17.997,18.296,10.578,16.700,21.803,11.611,8.835
1,15.328,28.297,13.578,26.924,22.956,24.931,14.119,26.058,22.964,13.237,5.476
2,9.222,13.578,17.198,15.055,13.905,15.840,10.254,11.174,13.007,13.338,7.370
3,17.256,26.924,15.055,52.492,26.411,27.133,14.250,26.131,29.716,13.643,8.078
4,17.997,22.956,13.905,26.411,26.528,25.398,13.513,23.726,24.327,14.576,7.437
5,18.296,24.931,15.840,27.133,25.398,39.451,14.458,22.606,24.142,17.601,8.495
6,10.578,14.119,10.254,14.250,13.513,14.458,30.009,16.993,12.452,10.015,7.304
7,16.700,26.058,11.174,26.131,23.726,22.606,16.993,50.455,22.041,13.846,2.584
8,21.803,22.964,13.007,29.716,24.327,24.142,12.452,22.041,32.438,13.312,5.912
9,11.611,13.237,13.338,13.643,14.576,17.601,10.015,13.846,13.312,21.559,7.575
10,8.835,5.476,7.370,8.078,7.437,8.495,7.304,2.584,5.912,7.575,18.319

Xi:

,0,1,2,3,4,5,6,7,8,9,10
0,1.114591e-20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.000000e+00,7.131400e-19,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.000000e+00,0.000000e+00,3.602284e-16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.000000e+00,0.000000e+00,0.000000e+00,3.153718e-22,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.598360e-18,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.120206e-20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.422759e-19,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.172159e-22,0.000000e+00,0.000000e+00,0.000000e+00
8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.293497e-19,0.000000e+00,0.000000e+00
9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.136028e-17,0.000000e+00
10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.635477e-16

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Set parameter Username
Academic license - for non-commercial use only - expires 2025-07-03
Minimum Variance: 11.4615
Expected Return of Min Variance Portfolio: 1.2205
[11.5, 16.0, 20.6, 25.1, 29.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                16.0      20.6      25.1       29.7
heuristic -12.025726 -24.34289 -2.253909  14.319921

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 11.4615
Expected Return of Min Variance Portfolio: 1.2205
[11.5, 16.0, 20.6, 25.1, 29.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               16.0       20.6      25.1       29.7
heuristic -8.407547 -24.002683 -3.317666  12.895593

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 11.4615
Expected Return of Min Variance Portfolio: 1.2205
[11.5, 16.0, 20.6, 25.1, 29.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               16.0       20.6      25.1      29.7
heuristic -6.381787 -23.065096 -4.996657  10.40962

Considering Fama-French 5-sector monthly data
True Mean:

       0      1      2      3      4
0  0.939  0.907  1.122  1.028  0.876

True Covariance:

        0       1       2       3       4
0  17.689  14.626  18.955  11.509  18.687
1  14.626  20.521  18.102  11.349  19.715
2  18.955  18.102  38.559  14.944  22.556
3  11.509  11.349  14.944  18.272  14.797
4  18.687  19.715  22.556  14.797  28.111

Xi:

              0             1             2             3             4
0  2.533778e-16  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
1  0.000000e+00  3.957874e-17  0.000000e+00  0.000000e+00  0.000000e+00
2  0.000000e+00  0.000000e+00  1.490946e-20  0.000000e+00  0.000000e+00
3  0.000000e+00  0.000000e+00  0.000000e+00  1.688913e-16  0.000000e+00
4  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  7.745032e-19

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 14.3995
Expected Return of Min Variance Portfolio: 0.9706
[14.4, 17.1, 19.8, 22.5, 25.1]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                17.1       19.8       22.5       25.1
heuristic -19.389628 -22.348624 -28.946299 -31.396728

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 14.3995
Expected Return of Min Variance Portfolio: 0.9706
[14.4, 17.1, 19.8, 22.5, 25.1]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                17.1       19.8      22.5       25.1
heuristic -14.131138 -17.019477 -23.40029 -28.745162

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 14.3995
Expected Return of Min Variance Portfolio: 0.9706
[14.4, 17.1, 19.8, 22.5, 25.1]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                17.1       19.8       22.5       25.1
heuristic -10.485995 -13.596707 -19.712051 -25.337116

Considering Fama-French 10-sector monthly data
True Mean:

       0      1      2      3      4      5    6      7      8      9
0  0.868  1.008  0.992  1.006  1.272  0.627  1.0  1.028  0.782  0.876

True Covariance:

,0,1,2,3,4,5,6,7,8,9
0,14.123,16.019,14.023,12.456,11.619,12.001,11.572,10.309,9.139,14.706
1,16.019,75.273,31.301,25.396,35.852,23.589,28.172,15.741,11.070,32.741
2,14.023,31.301,25.002,21.524,24.084,17.728,18.175,13.278,10.171,23.311
3,12.456,25.396,21.524,46.059,17.712,15.925,13.197,10.964,13.216,21.133
4,11.619,35.852,24.084,17.712,48.340,24.056,22.547,15.728,6.878,23.543
5,12.001,23.589,17.728,15.925,24.056,27.420,16.107,12.578,8.399,19.363
6,11.572,28.172,18.175,13.197,22.547,16.107,21.686,11.534,7.087,19.262
7,10.309,15.741,13.278,10.964,15.728,12.578,11.534,18.272,7.685,14.797
8,9.139,11.070,10.171,13.216,6.878,8.399,7.087,7.685,17.294,10.067
9,14.706,32.741,23.311,21.133,23.543,19.363,19.262,14.797,10.067,28.111

Xi:

,0,1,2,3,4,5,6,7,8,9
0,4.226651e-15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.000000e+00,3.483658e-24,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.000000e+00,0.000000e+00,3.351895e-18,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.000000e+00,0.000000e+00,0.000000e+00,1.616437e-21,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.834542e-22,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.057171e-18,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.984694e-17,0.000000e+00,0.000000e+00,0.000000e+00
7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.688681e-16,0.000000e+00,0.000000e+00
8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.358631e-16,0.000000e+00
9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.745032e-19

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 11.3074
Expected Return of Min Variance Portfolio: 0.8901
[11.4, 18.4, 25.5, 32.6, 39.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                18.4      25.5      32.6       39.7
heuristic -24.179816 -6.122067  56.71986  41.960625

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 11.3074
Expected Return of Min Variance Portfolio: 0.8901
[11.4, 18.4, 25.5, 32.6, 39.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                18.4      25.5       32.6       39.7
heuristic -16.358471 -8.942412  53.542071  41.787359

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 11.3074
Expected Return of Min Variance Portfolio: 0.8901
[11.4, 18.4, 25.5, 32.6, 39.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                18.4       25.5      32.6       39.7
heuristic -11.215176 -11.298209  49.56451  40.853021

Considering Fama-French 12-sector monthly data
True Mean:

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.868,1.008,1.062,1.006,0.854,1.276,0.627,0.782,1.0,1.028,0.947,0.71

True Covariance:

,0,1,2,3,4,5,6,7,8,9,10,11
0,14.123,16.019,14.719,12.456,12.755,11.613,12.001,9.139,11.572,10.309,15.260,13.184
1,16.019,75.273,35.842,25.396,22.230,35.877,23.589,11.070,28.172,15.741,32.696,32.811
2,14.719,35.842,31.604,24.343,19.944,27.983,20.075,10.789,20.268,14.230,25.981,26.205
3,12.456,25.396,24.343,46.059,15.918,17.699,15.925,13.216,13.197,10.964,21.636,20.242
4,12.755,22.230,19.944,15.918,18.563,15.675,12.882,9.060,13.795,11.421,18.151,17.239
5,11.613,35.877,27.983,17.699,15.675,48.438,24.076,6.862,22.560,15.701,22.401,26.765
6,12.001,23.589,20.075,15.925,12.882,24.076,27.420,8.399,16.107,12.578,19.434,19.303
7,9.139,11.070,10.789,13.216,9.060,6.862,8.399,17.294,7.087,7.685,10.073,9.730
8,11.572,28.172,20.268,13.197,13.795,22.560,16.107,7.087,21.686,11.534,19.212,19.280
9,10.309,15.741,14.230,10.964,11.421,15.701,12.578,7.685,11.534,18.272,15.178,13.985
10,15.260,32.696,25.981,21.636,18.151,22.401,19.434,10.073,19.212,15.178,32.536,24.228
11,13.184,32.811,26.205,20.242,17.239,26.765,19.303,9.730,19.280,13.985,24.228,25.915

Xi:

,0,1,2,3,4,5,6,7,8,9,10,11
0,4.226651e-15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.000000e+00,3.483658e-24,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.000000e+00,0.000000e+00,1.791223e-19,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.000000e+00,0.000000e+00,0.000000e+00,1.616437e-21,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.386393e-16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.614447e-22,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.057171e-18,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.358631e-16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.984694e-17,0.000000e+00,0.000000e+00,0.000000e+00
9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.688681e-16,0.000000e+00,0.000000e+00
10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.245757e-19,0.000000e+00
11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.140762e-18

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 11.3074
Expected Return of Min Variance Portfolio: 0.8901
[11.4, 18.4, 25.5, 32.6, 39.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                18.4     25.5       32.6       39.7
heuristic -26.860219  2.48114  55.565275  41.716322

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 11.3074
Expected Return of Min Variance Portfolio: 0.8901
[11.4, 18.4, 25.5, 32.6, 39.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                18.4      25.5      32.6       39.7
heuristic -16.696874 -1.103069  52.17519  41.466776

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 11.3074
Expected Return of Min Variance Portfolio: 0.8901
[11.4, 18.4, 25.5, 32.6, 39.7]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                18.4      25.5       32.6       39.7
heuristic -10.813038 -3.992257  48.719926  40.579433

Considering Fama-French 17-sector monthly data
True Mean:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.86,0.977,0.99,0.911,0.608,0.848,1.053,1.157,0.928,1.025,1.28,1.073,0.994,0.782,1.012,0.947,0.917

True Covariance:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,14.796,10.434,10.963,12.756,12.745,13.097,11.203,12.149,13.461,11.889,9.889,12.137,13.135,8.708,10.297,13.884,9.616
1,10.434,66.928,31.812,22.953,25.858,32.529,9.584,23.362,53.131,26.268,29.082,29.762,23.175,12.763,14.988,21.594,21.041
2,10.963,31.812,46.629,19.180,19.544,26.790,9.343,18.616,37.352,22.232,21.111,23.080,21.456,13.253,11.655,21.766,15.977
3,12.756,22.953,19.180,39.456,29.772,27.250,9.988,28.420,34.521,27.421,27.298,32.470,26.162,10.106,22.761,25.836,21.166
4,12.745,25.858,19.544,29.772,37.144,28.248,11.762,28.650,38.231,28.941,29.994,35.523,25.750,9.668,20.942,26.488,22.977
5,13.097,32.529,26.790,27.250,28.248,36.678,11.015,26.122,41.649,27.468,27.637,31.915,26.406,11.457,18.324,25.995,20.859
6,11.203,9.584,9.343,9.988,11.762,11.015,16.032,11.165,13.017,9.391,11.482,10.632,11.168,8.088,9.267,13.053,10.783
7,12.149,23.362,18.616,28.420,28.650,26.122,11.165,37.292,35.220,26.499,29.604,32.738,24.299,10.203,22.072,25.889,23.256
8,13.461,53.131,37.352,34.521,38.231,41.649,13.017,35.220,83.751,38.269,49.088,43.662,35.940,14.450,23.627,33.848,33.502
9,11.889,26.268,22.232,27.421,28.941,27.468,9.391,26.499,38.269,32.886,27.829,33.171,26.028,10.702,19.056,24.321,20.576
10,9.889,29.082,21.111,27.298,29.994,27.637,11.482,29.604,49.088,27.829,52.280,36.658,25.188,8.462,22.273,24.946,31.708
11,12.137,29.762,23.080,32.470,35.523,31.915,10.632,32.738,43.662,33.171,36.658,65.275,29.761,10.323,26.152,29.385,27.531
12,13.135,23.175,21.456,26.162,25.750,26.406,11.168,24.299,35.940,26.028,25.188,29.761,29.665,10.466,18.292,24.991,19.267
13,8.708,12.763,13.253,10.106,9.668,11.457,8.088,10.203,14.450,10.702,8.462,10.323,10.466,17.294,6.371,10.074,7.554
14,10.297,14.988,11.655,22.761,20.942,18.324,9.267,22.072,23.627,19.056,22.273,26.152,18.292,6.371,23.441,18.319,18.401
15,13.884,21.594,21.766,25.836,26.488,25.995,13.053,25.889,33.848,24.321,24.946,29.385,24.991,10.074,18.319,32.548,20.721
16,9.616,21.041,15.977,21.166,22.977,20.859,10.783,23.256,33.502,20.576,31.708,27.531,19.267,7.554,18.401,20.721,25.713

Xi:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,2.362000e-15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.000000e+00,1.513210e-23,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.000000e+00,0.000000e+00,1.385954e-21,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.000000e+00,0.000000e+00,0.000000e+00,1.118245e-20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.378848e-20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.786057e-20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.659673e-16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.263946e-20,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.174937e-25,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.089876e-19,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.317721e-22,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.068581e-23,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
12,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.953893e-19,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
13,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.358631e-16,0.000000e+00,0.000000e+00,0.000000e+00
14,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.506034e-18,0.000000e+00,0.000000e+00
15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.239835e-19,0.000000e+00
16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.361031e-18

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 11.0277
Expected Return of Min Variance Portfolio: 0.907
[11.1, 19.1, 27.2, 35.3, 43.3]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               19.1      27.2      35.3       43.3
heuristic -6.374062 -2.078509  27.58457  15.950767

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 11.0277
Expected Return of Min Variance Portfolio: 0.907
[11.1, 19.1, 27.2, 35.3, 43.3]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               19.1      27.2       35.3      43.3
heuristic -6.375369 -0.536455  25.536633  17.07214

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 11.0277
Expected Return of Min Variance Portfolio: 0.907
[11.1, 19.1, 27.2, 35.3, 43.3]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               19.1      27.2       35.3       43.3
heuristic -6.268963  0.304034  23.674909  18.340475

Considering Fama-French 5-sector daily data
True Mean:

      0      1      2      3      4
0  0.05  0.037  0.073  0.048  0.052

True Covariance:

       0      1      2      3      4
0  1.166  0.988  1.273  0.888  1.128
1  0.988  1.378  1.152  0.912  1.336
2  1.273  1.152  1.761  1.114  1.349
3  0.888  0.912  1.114  1.217  1.039
4  1.128  1.336  1.349  1.039  1.627

Xi:

          0         1         2         3         4
0  0.146448  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.018102  0.000000  0.000000  0.000000
2  0.000000  0.000000  0.000849  0.000000  0.000000
3  0.000000  0.000000  0.000000  0.085884  0.000000
4  0.000000  0.000000  0.000000  0.000000  0.002284

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 1.0241
Expected Return of Min Variance Portfolio: 0.047
[1.03, 1.11, 1.19, 1.27, 1.35]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               1.11       1.19      1.27       1.35
heuristic -5.514419  10.104995  21.57826  32.730201

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 1.0241
Expected Return of Min Variance Portfolio: 0.047
[1.03, 1.11, 1.19, 1.27, 1.35]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

              1.11      1.19       1.27       1.35
heuristic -3.14169  8.400759  17.604629  27.345544

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 1.0241
Expected Return of Min Variance Portfolio: 0.047
[1.03, 1.11, 1.19, 1.27, 1.35]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

               1.11      1.19       1.27      1.35
heuristic -1.889209  6.640796  14.522545  23.18064

Considering Fama-French 10-sector daily data
True Mean:

       0      1      2      3      4      5      6      7      8      9
0  0.033  0.066  0.045  0.037  0.081  0.023  0.057  0.048  0.036  0.052

True Covariance:

       0      1      2      3      4      5      6      7      8      9
0  0.904  0.984  0.921  0.951  0.883  0.773  0.783  0.730  0.822  0.934
1  0.984  4.372  1.569  1.613  1.986  1.172  1.518  1.196  0.824  1.692
2  0.921  1.569  1.395  1.533  1.310  0.994  1.060  0.963  0.902  1.396
3  0.951  1.613  1.533  3.583  1.239  1.125  0.991  0.972  1.069  1.675
4  0.883  1.986  1.310  1.239  1.964  1.022  1.380  1.163  0.794  1.390
5  0.773  1.172  0.994  1.125  1.022  1.198  0.872  0.802  0.785  1.090
6  0.783  1.518  1.060  0.991  1.380  0.872  1.299  0.908  0.699  1.128
7  0.730  1.196  0.963  0.972  1.163  0.802  0.908  1.217  0.727  1.039
8  0.822  0.824  0.902  1.069  0.794  0.785  0.699  0.727  1.342  0.892
9  0.934  1.692  1.396  1.675  1.390  1.090  1.128  1.039  0.892  1.627

Xi:

,0,1,2,3,4,5,6,7,8,9
0,3.520722,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,9.803031e-09,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000e+00,0.01554,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000e+00,0.00000,1.181048e-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000216,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.104469,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000,0.038153,0.000000,0.000000,0.000000
7,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.085884,0.000000,0.000000
8,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.025311,0.000000
9,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.002284

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 0.8401
Expected Return of Min Variance Portfolio: 0.0363
[0.85, 1.23, 1.62, 2.02, 2.41]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                1.23       1.62       2.02       2.41
heuristic  32.910365  49.688487  33.588119  14.401645

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 0.8401
Expected Return of Min Variance Portfolio: 0.0363
[0.85, 1.23, 1.62, 2.02, 2.41]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                1.23       1.62       2.02       2.41
heuristic  26.581187  42.688226  33.630671  17.968577

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 0.8401
Expected Return of Min Variance Portfolio: 0.0363
[0.85, 1.23, 1.62, 2.02, 2.41]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                1.23       1.62       2.02       2.41
heuristic  22.443167  37.478964  32.695429  20.213817

Considering Fama-French 12-sector daily data
True Mean:

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.033,0.066,0.051,0.037,0.035,0.081,0.023,0.036,0.057,0.048,0.055,0.048

True Covariance:

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.904,0.984,0.956,0.951,0.855,0.883,0.773,0.822,0.783,0.730,0.964,0.884
1,0.984,4.372,1.763,1.613,1.187,1.986,1.172,0.824,1.518,1.196,1.703,1.681
2,0.956,1.763,1.701,1.720,1.168,1.425,1.068,0.929,1.144,1.025,1.582,1.469
3,0.951,1.613,1.720,3.583,1.169,1.238,1.125,1.069,0.991,0.972,1.771,1.516
4,0.855,1.187,1.168,1.169,1.107,1.076,0.851,0.857,0.894,0.841,1.150,1.064
5,0.883,1.986,1.425,1.238,1.076,1.967,1.022,0.793,1.380,1.161,1.392,1.390
6,0.773,1.172,1.068,1.125,0.851,1.022,1.198,0.785,0.872,0.802,1.129,1.024
7,0.822,0.824,0.929,1.069,0.857,0.793,0.785,1.342,0.699,0.727,0.923,0.844
8,0.783,1.518,1.144,0.991,0.894,1.380,0.872,0.699,1.299,0.908,1.133,1.123
9,0.730,1.196,1.025,0.972,0.841,1.161,0.802,0.727,0.908,1.217,1.074,0.989
10,0.964,1.703,1.582,1.771,1.150,1.392,1.129,0.923,1.133,1.074,1.871,1.480
11,0.884,1.681,1.469,1.516,1.064,1.390,1.024,0.844,1.123,0.989,1.480,1.431

Xi:

,0,1,2,3,4,5,6,7,8,9,10,11
0,3.520722,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,9.803031e-09,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000e+00,0.001311,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000e+00,0.000000,1.181048e-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000e+00,0.000000,0.000000e+00,0.279394,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.104469,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.025311,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.038153,0.000000,0.000000,0.000000
9,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.085884,0.000000,0.000000
10,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000397,0.000000
11,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011371

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 0.8401
Expected Return of Min Variance Portfolio: 0.0363
[0.85, 1.23, 1.62, 2.02, 2.41]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                1.23       1.62       2.02       2.41
heuristic  32.472276  47.212148  26.909163  10.436766

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 0.8401
Expected Return of Min Variance Portfolio: 0.0363
[0.85, 1.23, 1.62, 2.02, 2.41]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                1.23      1.62       2.02       2.41
heuristic  26.996591  41.88942  27.941968  14.106982

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 0.8401
Expected Return of Min Variance Portfolio: 0.0363
[0.85, 1.23, 1.62, 2.02, 2.41]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
		On run  7500

Computing True and Equal-Weight Portfolios

                1.23       1.62       2.02       2.41
heuristic  23.024184  37.581262  27.838201  16.590624

Considering Fama-French 17-sector daily data
True Mean:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.036,0.047,0.037,0.04,0.026,0.033,0.047,0.073,0.064,0.06,0.08,0.071,0.047,0.036,0.057,0.055,0.06

True Covariance:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.905,0.762,0.872,0.870,0.801,0.884,0.702,0.888,0.970,0.874,0.840,0.846,0.851,0.826,0.689,0.891,0.780
1,0.762,2.888,2.084,1.452,1.432,1.822,0.744,1.428,2.693,1.595,1.574,1.660,1.447,0.893,0.986,1.462,1.218
2,0.872,2.084,3.645,1.474,1.247,1.949,0.820,1.365,2.620,1.614,1.526,1.506,1.667,1.072,0.892,1.776,1.196
3,0.870,1.452,1.474,2.483,1.708,1.575,0.817,1.667,1.924,1.575,1.646,1.801,1.552,0.889,1.302,1.571,1.413
4,0.801,1.432,1.247,1.708,1.995,1.492,0.791,1.606,1.793,1.523,1.638,1.828,1.401,0.820,1.227,1.401,1.407
5,0.884,1.822,1.949,1.575,1.492,2.088,0.833,1.523,2.330,1.659,1.641,1.674,1.586,0.966,1.037,1.640,1.303
6,0.702,0.744,0.820,0.817,0.791,0.833,0.902,0.844,0.946,0.846,0.894,0.786,0.812,0.727,0.697,0.890,0.841
7,0.888,1.428,1.365,1.667,1.606,1.523,0.844,1.980,1.837,1.521,1.588,1.674,1.468,0.937,1.192,1.476,1.342
8,0.970,2.693,2.620,1.924,1.793,2.330,0.946,1.837,4.208,2.077,2.001,2.073,1.974,1.005,1.246,2.046,1.527
9,0.874,1.595,1.614,1.575,1.523,1.659,0.846,1.521,2.077,1.895,1.621,1.654,1.529,0.965,1.071,1.537,1.304
10,0.840,1.574,1.526,1.646,1.638,1.641,0.894,1.588,2.001,1.621,2.101,1.956,1.535,0.851,1.324,1.548,1.589
11,0.846,1.660,1.506,1.801,1.828,1.674,0.786,1.674,2.073,1.654,1.956,3.859,1.597,0.817,1.445,1.615,1.647
12,0.851,1.447,1.667,1.552,1.401,1.586,0.812,1.468,1.974,1.529,1.535,1.597,1.741,0.905,1.042,1.569,1.268
13,0.826,0.893,1.072,0.889,0.820,0.966,0.727,0.937,1.005,0.965,0.851,0.817,0.905,1.342,0.647,0.923,0.784
14,0.689,0.986,0.892,1.302,1.227,1.037,0.697,1.192,1.246,1.071,1.324,1.445,1.042,0.647,1.439,1.059,1.242
15,0.891,1.462,1.776,1.571,1.401,1.640,0.890,1.476,2.046,1.537,1.548,1.615,1.569,0.923,1.059,1.872,1.317
16,0.780,1.218,1.196,1.413,1.407,1.303,0.841,1.342,1.527,1.304,1.589,1.647,1.268,0.784,1.242,1.317,1.478

Xi:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,3.500945,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
1,0.000000,0.000002,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
2,0.000000,0.000000,9.507639e-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.000000,0.000000e+00,0.000012,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
4,0.000000,0.000000,0.000000e+00,0.000000,0.000178,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
5,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000101,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
6,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,3.622363,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
7,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000196,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
8,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.581115e-08,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
9,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000339,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
10,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000093,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000
11,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,4.670868e-08,0.000000,0.000000,0.00000,0.000000,0.000000
12,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000978,0.000000,0.00000,0.000000,0.000000
13,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.025311,0.00000,0.000000,0.000000
14,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.01053,0.000000,0.000000
15,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000396,0.000000
16,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.007564

lb: 1 ub: 3 ratio: 2
List of Kappas: ['heuristic']
Minimum Variance: 0.7873
Expected Return of Min Variance Portfolio: 0.0431
[0.788, 1.17, 1.55, 1.93, 2.31]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
Iteration Depth Exceeded.
		On run  7500

Computing True and Equal-Weight Portfolios

               1.17       1.55      1.93      2.31
heuristic  8.964506  11.607333 -7.452621 -5.100304

lb: 2 ub: 4 ratio: 3
List of Kappas: ['heuristic']
Minimum Variance: 0.7873
Expected Return of Min Variance Portfolio: 0.0431
[0.788, 1.17, 1.55, 1.93, 2.31]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
		On run  2500
		On run  5000
Iteration Depth Exceeded.
		On run  7500

Computing True and Equal-Weight Portfolios

               1.17       1.55    1.93      2.31
heuristic  6.961221  11.890269 -4.1413 -4.236986

lb: 3 ub: 5 ratio: 4
List of Kappas: ['heuristic']
Minimum Variance: 0.7873
Expected Return of Min Variance Portfolio: 0.0431
[0.788, 1.17, 1.55, 1.93, 2.31]
Computing Estimated, Actual and Robust Portfolios
	On κ=heuristic
		On run  0
Iteration Depth Exceeded.
		On run  2500
		On run  5000
Iteration Depth Exceeded.
		On run  7500

Computing True and Equal-Weight Portfolios

               1.17       1.55      1.93      2.31
heuristic  5.514432  11.542962 -1.152503 -3.828222

***

In [3]:
# fig, ax = plt.subplots(1, 1)
# fig.set_size_inches(16, 8)

# moving_average_n = 18

# avg_returns = np.mean(returns, axis=1)
# avg_returns_ma = np.array([np.mean(avg_returns[k:k+moving_average_n]) for k in range(returns.shape[0]+1-moving_average_n+1)])
# ax.plot([j for j in range(1,returns.shape[0]+1)], avg_returns, c="dodgerblue", alpha=0.4, label='Monthly Returns')
# ax.plot([j for j in range(len(avg_returns_ma))], avg_returns_ma, c="indianred", label='Moving Average of Monthly Returns')
# ax.set_title('Fama-French Average Monthly Returns 1927-2024 with Moving Average', fontsize=19)

# ax.set(xlabel='Month', ylabel='Monthly Return')
# # ax.set_xticks([j*12 for j in range(0,returns.shape[0]+1)], [2024-50+i for i in range(0,51)])
# plt.xticks(rotation=45)

# font = {'size': 20}
# matplotlib.rc('font', **font)
# matplotlib.rcParams['mathtext.fontset'] = 'stix'
# matplotlib.rcParams['font.family'] = 'STIXGeneral'

# fig.tight_layout()

***

### Notes June 12th

* Try $\Xi = V^T F V$ -- full matrix and then just diagonal
* Try Ledoit-Wolf for $\Xi$

### Notes July 8th

* Base scenario as identity matrix and then try to find a more reasonable $\Xi$ given that $\Sigma$ is known and that we can extract some information out of it as a comparison. $\Xi = I, \text{diag}(\sigma_i^2), \text{diag}(\frac{1}{\sigma_i^2})$ Maybe the metric as gap closed is good.

* Normalize so that we have $\frac{1}{\sigma^2}$ on the best half of the assets and then $\frac{1}{\text{avg of all}(\sigma^2)}$ for the the bottom half.

*  Once we figure out the best choices for $\Xi$, we want to use this on the time-varying, real-data stream so show how it works practically.

* Look at splitting up the 30 years into 3 decades and use them as independent datasets to essentially triple our data.

### Notes July 11th

* The current experiments seem promising. Once we figure out the best choices for $\Xi$, we want to use this on the time-varying, real-data stream so show how it works practically. See board picture for July 11th.


* ~Look into just $\frac{1}{\sigma^2}$ for all assets or maybe $\frac{2}{\text{avg of all}(\sigma^2)}$.~

* Look at splitting up the 30 years based on the market trends for all assets. This would give us more data and reinforce the assumption that $\Sigma$ is fixed and known. Treat them as independent datasets.
    * 1986 - 1992
    * 1992 - 2000
    * 2000 - 2002
    * 2002 - 2005
    * 2005 - 2008
    * **2008 - 2018**
    * 2018 - 2024

* Look into confidence interval for the final dataset we want to show.

### Notes July 15th

* Try out $\frac{1}{\sigma_i}$ and $\frac{1}{\sigma_i^3}$ depending on the results

### Notes July 26th

* Think about a rule of thumb for picking $\kappa$. It would be nice to have it as a function of the risk $v$ and in the same magnitude as the first term $\hat \mu \mathbf{x}$
    * We have looked at $\kappa = \frac{n \bar \mu}{2 \sqrt{\sum_{i=1}^{n}\xi_i}}$, where $\bar \mu = \frac{1}{n} \sum_{i=1}^{n} |\hat \mu_i|$. However, this was not perfect
* **See what the magnitude of the first term and second term actually are in each run -- maybe average it over the many runs**

### Notes July 29th
* Picking $\kappa$
    1. Compute $\hat \mu \bar x$ where $\bar x$ is the equal weight portfolio
    2. Compute $\sqrt{\bar {\bar x}^\top \Xi \bar {\bar x}}$ where $\bar {\bar x} = (\frac{1}{2}, \frac{1}{2(n-1)},\ldots)$ where the $\xi_1$ is the smallest.
    3. Pick $\kappa = \frac{\hat \mu^\top \bar x}{2 \sqrt{\bar {\bar x}^\top \Xi \bar {\bar x}}}$
    4. Find $x^R$ with this $\kappa$
    5. Stop if $1 \leq \frac{\hat \mu^\top x^R}{2 \sqrt{{x^R}^\top \Xi x^R}} \leq 3$
    6. Else $\kappa \leftarrow \frac{\hat \mu^\top x^R}{2 \sqrt{{x^R}^\top \Xi x^R}}$
* Save results for $\frac{1}{\sigma^{10}}$ and explain in a paragraph why this is not great.
* Say that the ratio being $~1-3$ is based on our data and our choice for $N$ from section 2, and that if you're most confidence with the expected returns, you should be increase your ratio. Verify by showing that as we reduce $N$, this ratio increases.

### Notes August 2nd

* Change the array of risks used. Make the upper bound depend on the risk. Maybe the average of the top 20% risks. Maybe just the **largest** actually. Run for $\Xi = I$, $\Xi = \text{diag}(\sigma^2)$, $\Xi = \text{diag}(\frac{1}{\sigma})$,  $\Xi = \text{diag}(\frac{1}{\sigma^2})$, $\Xi = \text{diag}(\frac{1}{\sigma^4})$, $\Xi = \text{diag}(\frac{1}{\sigma^{10}})$.
* We will include the graphs as well as the tables in the paper. In the graphs, let's include the minimum variance
* Instead of a full grid search for $\kappa$, we could have a more compact table in the paper which only uses the $\kappa$ we found in our heuristic algorithm. We reason why this ratio of 1-3 is good for our dataset -- if you're most confidence with the expected returns, you should be increase your ratio.
* Try to have a clear statement on what happens with low risk and what happens with high risk. Maybe a breakpoint with the variance of the equal weight portoflio. There would be a different optimum $\Xi$ depending on the risk you look at. Show that for a low risk, we want a smaller exponent on $\sigma$, for medium risk we have a medium exponent, and for high risk, a large exponent.

### Notes August 6th

* Finish up draft of the paper up to the simulated experiments
* See what happens with the real data -- Look at the board from July 11 but have $\Sigma$ be fixed over 30 years
* Maybe shift the weight to be between $2-4$ in the search kappa problem.

### Notes August 13th

* Re run real data experiments with the Identity.
* Do a grid search on the ratio for the $\kappa$ heuristic. -- Do this for just the middle range of the variances because when we look at high risk, the constraint is likely not even tight, and the optimization problem is uninteresting. Go up to half the current v_array
    * We need to give a better justification for the ratio. Maybe need to have a ratio for each choice of the risk or for each choice of $\Xi$

### Notes August 20th

* Try $\frac{1}{\sigma^{15}}$ for the estimation error matrix
* Maybe $\frac{1}{\sigma^{14}}$ or $\frac{1}{\sigma^{12}}$ if we see numerical issues.

### Notes Augst 22nd

* Do the time varying experiments for the $\Xi$ sections